@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3", sans-serif;
}

body{
  background-color: #272727;

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 1.875rem;
}

.wrapper {
  margin: 0.125rem auto;
  width: 100%;
  max-width: 50rem;
  border: 1px solid #212427;
  border-radius: 0.3125rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1.875rem;
  background-color: #f5f5f5;
  transition: 600ms;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1); 

  a {
    color: #212427;
    transition: 600ms;
  }
  .bx:hover {
    color: blue;
    transition: 200ms ease;
  }
}
.dark {
  background-color: #084e28;
  color: #ffdc5c;

  a {
    color: #ffdc5c;
  }
  .bx:hover {
    color: #47f3ff;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  }
}

.btn {
  width: 100%;
  height: auto;
  margin: 1.25rem auto;
}

.btn-color-change {
  width: 100%;
  max-width: 6.25rem;
  margin: 1.25rem;
  height: 5rem;

  cursor: pointer;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 1);
  border-radius: 0.3125rem;
  border: slategray 0.0625rem solid;
  transition: 0.4s;
}

.btn-color-change:hover {
  background-color: #084e28;
  color: #ffdc5c;
  transform: scale(1.1);
  border: none;
  box-shadow: none;
}

.profile,
.information {
  margin: 2.5rem;
}

.profile-image {
  width: 100%;
  max-width: 75rem;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}

.profile-pic {
  width: 100%;
  max-width: 15rem;
  height: auto;
  border-radius: 10rem;
}

.profile-name,
.profile-profession {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5rem;
}

p {
  font-size: 1.25rem;
  text-align: justify;
}

.logo {
  width: 100%;
  max-width: 3.25rem;
}

.bx {
  font-size: 3rem;
  margin-top: 1.875rem;
}

.tertiary,
.secondary {
  display: flex;
  justify-self: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  p {
    margin: 1.25rem;
  }
}

.profile-contact-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  .icons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 300px;
  }
}

.profile-contact {
  margin: 1.5rem auto;
}